<div class="medium-3 cell" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="content">
        <h5 class="blog-group-title">CATEGORIES</h5>
        <% site.categories.each(i => { %>
        <div class="grid-x">
            <div class="cell small-1">
            </div>
            <div class="cell small-8">
                <a  class="blog-link" href="<%= url_for(i.path) %>"><img src="/assets/blt_red_arrow.png"/> <%= i.name %></a>
            </div>
            <div class="cell small-2">(<%= i.length %>)</div>
        </div>
        <% }) %>

        <div class="blog-tags" id="blog-tags-cloud"></div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/wordcloud.js"></script>
<script>
  var data = [];
  <% site.tags.each(i=>{ %>
  data.push({name:"<%= i.name %>", weight: <%= i.length %>, url: "<%- url_for(i.path) %>"});
  <% }); %>
  Highcharts.chart('blog-tags-cloud', {
    series: [{
      type: 'wordcloud',
      data,
      name: 'Posts'
    }],
    title: {
      text: null
    },
    credits: {
      enabled: false
    },
    plotOptions: {
      series: {
        cursor: 'pointer',
        point: {
          events: {
            click: function(e) {
              window.location = e.point.url;
            }
          }
        }
      }
    },
  });
</script>