<nav id="widemenu" class="top-bar blog-menu title-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu grid-x" data-dropdown-menu>
            <li class="cell auto"><a class="menu-link" href="/"><%= config.title %></a></li>
            <li class="cell shrink">
                <a class="menu-link" href="#">博客分类</a>
                <ul class="menu">
                    <% site.categories.each(i => { %>
                    <li>
                        <a class="blog-link" href="<%= url_for(i.path) %>">
                            <%= i.name %>
                        </a>
                    </li>
                    <% }) %>
                </ul>
            </li>
            <li class="cell shrink">
                <a class="menu-link" href="#">站点</a>
                <ul class="menu">
                    <% for (name in theme.nav) { %>
                    <li>
                        <a class="blog-link" href="<%- theme.nav[name].length > 0 && url_for(theme.nav[name]) %>">
                            <%= name %>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </li>
        </ul>
    </div>
</nav>