<div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title"><%= config.title %></span>
    </div>
</div>

<nav class="off-canvas position-left blog-menu" id="offCanvasLeft" data-off-canvas>
    <ul class="vertical dropdown menu blog-links" data-dropdown-menu>
        <% for (name in theme.nav) { %>
        <li>
            <a href="<%- theme.nav[name].length > 0 && url_for(theme.nav[name]) %>"><%= name %></a>
        </li>
        <% } %>
    </ul>
</nav>

<nav id="widemenu" class="top-bar blog-menu">
    <div class="top-bar-left">
        <a href="/" class="blog-logo-title">
            <strong><%= config.title %></strong>
        </a>
    </div>
    <div class="top-bar-right">
        <ul class="menu dropdown right-side medium-horizontal vertical blog-links" data-dropdown-menu>
            <% for (name in theme.nav) { %>
            <li class="menu-item is-dropdown-submenu-parent opens-left">
                <a href="<%- theme.nav[name].length > 0 && url_for(theme.nav[name]) %>"><%= name %></a>
                <% if(theme.nav[name] instanceof Object) { %>
                <ul class="menu">
                    <% for (subname in theme.nav[name]) { %>
                    <li>
                        <a href="<%- url_for(theme.nav[name][subname]) %>"><%= subname %></a>
                    </li>
                    <% } %>
                </ul>
                <% } %>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="large primary blog-topbar-container text-right">
</div>